{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap4 %}


{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}


{% block content %}

<h1>{% trans 'Deleting a status' %}</h1>
<body>
    <form method="post" action="{% url 'statuses:status_delete' status.id %}">
        {% csrf_token %}
        <p class="h5 text-danger my-3">
            {% trans 'Are you sure you want to delete status ' %} {{ status.name }}?
        </p>
        <input class="btn btn-outline-danger my-3" type="submit" value="{% trans 'Yes, delete' %}">
    </form>
</body>

{% endblock %}