{% extends 'users/user_form.html' %}
{% load i18n %}
{% load bootstrap4 %}


{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block name %}

<h1>{% trans 'Sign-up' %}</h1>
{% if messages %}
<div class="alert alert-primary" role="alert">
    {{ messages }}
</div>
{% endif %}

{% endblock %}


{% block form %}

<form method="post" action="{% url 'user_create' %}">

{% endblock %}

{% block button %}

<button type="submit" class="btn btn-outline-dark">{% trans 'Register' %}</button>

{% endblock %}