{% load i18n %}
{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!DOCTYPE HTML>
<html lang="en">
    <head>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
            <a class="navbar-brand" href="/">Task Manager</a>
            <button class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-expanded="false">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarToggleExternalContent" style="">
              <ul class="navbar-nav mr-auto mb-2 mb-md-0">
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'index' %}">{% trans 'Users' %}</a>
                </li>
                
              </ul>
              <ul class="navbar-nav">
                
                {% if user.is_authenticated %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url 'logout' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {% trans 'Log out' %} {{ user.username }}
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="{% url 'logout' %}">{% trans 'Log out' %}</a></li>
                  </ul>
                </li>
                {% else %}
                  <li class="nav-item">
                    <a href="{% url 'login' %}" class="btn btn-outline-light ml-2 my-1">{% trans 'Login' %}</a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'user_create' %}" class="btn btn-primary ml-2 my-1">{% trans 'Sign-up' %}</a>
                  </li>
                {% endif %}
              </ul>
            </div>
          </nav>

          <main role="main" class="container">
            {% bootstrap_messages %}
            {% block content %}
        
            {% endblock %}

        </main>
    </body>
</html>