{% load i18n %}
{% load bootstrap4 %}


{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!DOCTYPE HTML>
<html lang="en">
    <head>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Task Manager</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">{% trans 'Users' %}</a>
                  </li>
                </ul>
                <div class="col-md-3 text-end">
                    <a href="#" class="btn btn-outline-light me-2">{% trans 'Login' %}</a>
                    <a href="#" class="btn btn-warning">{% trans 'Sign-up' %}</a>
                </div>
              </div>
            </div>
          </nav>
    </body>
</html>